# Shared
PROJECT_NAME=smart-shopping

# PostgreSQL
POSTGRES_DB=smartshopping
POSTGRES_USER=smartshopping
POSTGRES_PASSWORD=smartshopping
POSTGRES_PORT=5432

# Backend
API_HOST=0.0.0.0
API_PORT=8000
DATABASE_URL=postgresql://smartshopping:smartshopping@db:5432/smartshopping

# Frontend
FRONTEND_PORT=3000
NEXT_PUBLIC_API_URL=http://localhost:8000
